.demo{ background: #eee; }
a:hover,a:focus{
    outline: none;
    text-decoration: none;
}
.tab .nav-tabs{
    display:contents;
    background: #fff;
    border-radius: 50px;
    border: none;
    padding: 6px;
    margin-top:20px;
}
.tab .nav-tabs li{
    float: none;
    display: inline-block;
    position: relative;
}
.tab .nav-tabs li a{
    font-size: 16px;
    font-weight: 700;
    background: none;
    color: #999;
    border: none;
    padding: 10px 15px;
    border-radius: 50px;
    transition: all 0.5s ease 0s;
}
.tab .nav-tabs li a:hover{
    background: #ffa399;
    color: #fff;
    border: none;
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:focus,
.tab .nav-tabs li.active a:hover{
    border: none;
    background: #ff6600;;
    color: #fff;
}
.tab .tab-content{
    font-size: 14px;
    color: #686868;
    line-height: 25px;
    text-align: left;
    padding: 5px 20px;
}
.tab .tab-content h3{
    font-size: 24px;
    color: #5b5a5a;
}
@media only screen and (max-width: 480px){
    .tab .nav-tabs{
        border-radius: 10px;
    }
    .tab .nav-tabs li{
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }
   
}

.pt_7{
    padding-left: 19%;
   
}
.mt_7{
    margin-top: -9%;
  
}


 /* about  */
 .strength p{
    border:1px solid black;
    width: 70%;
    padding: 10px;
    border-radius:6px;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-family:Roboto;
    text-align:justify;
    margin-left: 180px;
      
  }
  .strength .para1{
   background-color:#ff6600;;
   text-align:justify;
  }
  .strength .para2{
   background-color:#ffd633;
   text-align:justify;
 }
 .strength .para3{
   background-color:#00ccff; 
   text-align:justify;
 }
 
 @media only screen and (max-width: 480px) {
   .strength p{
     width: 90%;
     margin-left: 18px !important;
   }
   .img_ml{
    margin-left: 9% !important;
    margin-bottom:10px;
   }
 }

 @media only screen and (min-width:480px) and (max-width:767px){
    .strength p{
        margin-left: 16%;
    }
    .img_ml{
        margin-left: 28%;
        margin-bottom:10px;
        width:100% !important;
       }
   
 }

 .nav__dropdown-menu > li > a {
    text-decoration: none;
  }
  .nav__menu> li > a {
    text-decoration: none;
  }
.mt{
    margin-top: -7%;
}
 .project__titlea{
    color:#ff6600 !important;

}
.text_justify{
    text-align:justify;
}


@media only screen and (min-width: 992px){
.nav__dropdown-menu > li > a, .nav__dropdown-submenu > .nav__dropdown-menu > li > a {
    color: #7a7a7a;
    padding: 7px 20px;
    font-size: 12px;}
}






  /* about  end */