.owl-controls .owl-buttons div, .owl-controls .owl-page {
    cursor: pointer;
    color:#ff6600;
}

.owl-prev, .owl-next {
  
    background-color:#05ccff;
}
/* .mt_10{
    margin-top:-9%;
} */
.pd_b{
    padding-bottom:10px;
}


@media only screen and (max-width: 480px) {
    .project__img-holder {
     margin-left:9%;
        width: 84% !important;
        } }


